:root {
  --fundo-principal: #181c22;
  --fundo-secundario: #383836;
  --azul-escuro: #2d415a;
  --azul-medio: #4f8cc9;
  --azul-claro: #d3e7fa;
  --cinza-medio: #bfc9d1;
  --cinza-claro: #e5e9ef;
  --cinza: #7f8083;
  --cinza-card: #232834;
  --coral: #ff8a65;
  --branco: #fff;
  --preto: #181c22;
  --borda: #dde932;
  --sombra: 0 4px 24px #0006;
  --sombra-leve: 0 2px 8px #0003;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#introdução {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 48px 32px;
  width: 100%;
  max-width: 500px;
  border-radius: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0 8px 32px #000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.procura {
  font-size: 20px;
  align-items: center;
  font-family: 'inter', -apple-system, BlinkMacSystemFont, 'segoe UI', sans-serif;
}

.procura input {
  font-size: 25px;
  color: aliceblue;
  font-family: 'robot2';
  margin: 10px;
  font-family: 'inter', -apple-system, BlinkMacSystemFont, 'segoe UI', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.25s;
  outline: none;
  transition: border-color 0.2s,
}

ul,
ol {
  list-style-type: none;
}

input:hover {
  border-color: #D4AF37;
}

@font-face {
  font-family: "inter";
  src: url(/src/font/inter/Inter-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
}

.nomeem {
  width: 260px
}

.procura input::placeholder {
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}

.abc {
  width: 50px;
}

.resultado {
  background-color: black;
}


/*resultados */

.resultados {
  width: 100%;
  max-width: 700px;
  margin-top: 100px;
  list-style: none;
}

.resultado-item {
  background: var(--fundo-secundario);
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid var(--branco);

}

.resultado-item h3 {
  color: var(--branco);
  margin-bottom: 8px;
}

.sem-resultados {
  color: var(--cinza);
  text-align: center;
  margin-top: 20px;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}